<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heart Dog - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">


        $(document).ready(function () {
            $("#Password, #ConfirmPassword").keyup(checkPasswordMatch);
            $("#Password").keyup(checkPasswordForm);
            $("Email").keyup(checkEmailForm);
        });

        $(window).on('load', function () { // popup
            var delayMs = 100; // delay in milliseconds
            setTimeout(function () {
                $('#myModal').modal('show');
            }, delayMs);
        });

        function checkEmailForm() {

            var email = $("#Email").val();
            var email_regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if (email_regex.test(email) == false) {
                var match = "*Input availale email address"
                var result = match.fontcolor('red');
                $("#divCheckEmailForm").html(result);
            } else {
                var match = "*Availaleemail address "
                var result = match.fontcolor('green');
                $("#divCheckEmailForm").html(result);
            }
        }

        function checkPasswordMatch() {
            var Password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();

            if (Password != ConfirmPassword) {
                var match = "*Please match your password"
                var result = match.fontcolor('red');
                $("#divCheckPasswordMatch").html(result);
            } else {
                var match = "*Good match!";
                var result = match.fontcolor('green');
                $("#divCheckPasswordMatch").html(result);
            }
        }

        function checkPasswordForm() {
            var password = $("#Password").val();
            var password_regex1 = /([a-z].*[A-Z])|([A-Z].*[a-z])([0-9])+([!,%,&,@,#,$,^,*,?,_,~])/;
            var password_regex2 = /([0-9])/;
            var password_regex3 = /([!,%,&,@,#,$,^,*,?,_,~])/;

            if (password.length < 8 || password_regex1.test(password) == false || password_regex2.test(password) == false || password_regex3.test(password) == false) {
                var match = "*Must contain 1 letters, 1 number, 1 special character, between 8-16 long"
                var result = match.fontcolor('red');
                $("#divCheckPasswordForm").html(result);
            } else {
                var match = "*Available Password"
                var result = match.fontcolor('green');
                $("#divCheckPasswordForm").html(result);
            }
        }


        function formCheck(frm) {
            if (frm.Email.value == "") {
                alert("Please input your E-mail address.");
                frm.Email.focus();
                return false;
            }
            if (frm.Password.value == "") {
                alert("Please input your password.");
                frm.Password.focus();
                return false;
            }
            if (frm.ConfirmPassword.value == "") {
                alert("Please input your confirm password.");
                frm.ConfirmPassword.focus();
                return false;
            }
            if (frm.FirstName.value == "") {
                alert("Please input your fisrt name.");
                frm.FirstName.focus();
                return false;
            }
            if (frm.LastName.value == "") {
                alert("Please input your last name.");
                frm.LastName.focus();
                return false;
            }
            if (frm.PhoneNumber.value == "") {
                alert("Please input your Phone number.");
                frm.LastName.focus();
                return false;
            }

            var email = $("#Email").val();
            var pass = $("#Password").val();
            var confirm = $("#ConfirmPassword").val();
            var first = $("#FirstName").val();
            var last = $("#LastName").val();
            var phone = $("#PhoneNumber").val();
            var email_regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var password_regex1 = /([a-z].*[A-Z])|([A-Z].*[a-z])([0-9])+([!,%,&,@,#,$,^,*,?,_,~])/;
            var password_regex2 = /([0-9])/;
            var password_regex3 = /([!,%,&,@,#,$,^,*,?,_,~])/;

            if (email_regex.test(email) == false) {
                alert("Please input correct E-mail address");
                return false;
            } else if (pass.length < 8 || password_regex1.test(pass) == false || password_regex2.test(pass) == false || password_regex3.test(pass) == false) {
                alert("*Password must contain 1 letters, 1 number, 1 special character, between 8-16 long.");
                return false;
            } 
             else if (pass !== confirm) {
                alert("*Please match your password");
                return false;
            }
            return true;
        }
    </script>


    {# ==================================================================== #}
    {% if error_message %}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
                <div class="modal-content ">
                    <div class="modal-header text-danger">
                        <h4 class="modal-title ">Notice</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{error_message}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary mx-auto" data-dismiss="modal" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% elseif success_message %}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <h4 class="modal-title ">Notice</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{success_message}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary mx-auto" data-dismiss="modal" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>>
    {% endif %}
    {# ==================================================================== #}



<body class="bg-gradient-primary">
  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Sign Up</h1>
                <h1 class="h6 text-gray-1000 mb-4">Do you want to be a HEART DOG's member?</h1>
              </div>


              <form class="user" action='/heartdog/signup/process' method='post' onsubmit='return formCheck(this)'>
                
                <div class="form-group">
                    <input type="email" class="form-control form-control-user" name="Email" id="Email" onchange="checkEmailForm();" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name="Password" id="Password" placeholder="Password">
                  </div>
                  <div id="divCheckPasswordForm"></div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name="ConfirmPassword" id="ConfirmPassword" onchange="checkPasswordMatch();" placeholder="Confirm Password">
                  </div>
                  <div id="divCheckPasswordMatch"></div>
                </div>
                 <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="FirstName" id="FirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="LastName" id="LastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="phone" class="form-control form-control-user" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number">
                </div>
                <input type = "submit" value="Sign up"class="btn btn-warning btn-user btn-block">
    
                <hr>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forget_pwd">FORGET YOUR PASSWORD ?</a>
              </div>
              <div class="text-center">
                <a class="small" href="signin">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
